body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 300px;
}

#app {
    padding: 10px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#prompt-list {
    margin-bottom: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.prompt-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #e2efff;
    cursor: pointer;
}

.prompt-item:hover {
    background-color: #81bcff;
}

.prompt-item span {
    flex-grow: 1;
}

.prompt-item button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.prompt-item button.edit {
    background-color: #4CAF50;
}

.prompt-item button:hover {
    background-color: #d32f2f;
}

.prompt-item button.edit:hover {
    background-color: #45a049;
}

.prompt-item.selected {
    background-color: #6171ff;
}

#prompt-management {
    display: flex;
    gap: 5px;
}

#prompt-input {
    flex-grow: 1;
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.notification {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
